global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alert_rules.yml

scrape_configs:
  - job_name: 'prometheus'
    static_configs:
      - targets: ['localhost:9090']

  - job_name: 'node'
    static_configs:
      - targets: ['netops_node_exporter:9100']

  - job_name: 'django'
    static_configs:
      - targets: ['netops_django:8000', 'host.docker.internal:8000']
    metrics_path: '/metrics'
    scrape_interval: 30s
