---
# Copy this to secrets.yml and encrypt with: ansible-vault encrypt vault/secrets.yml
vault_django_secret_key: "CHANGE-ME-to-a-random-50-char-string"
vault_django_superuser_username: "admin"
vault_django_superuser_email: "admin@netops.local"
vault_django_superuser_password: "CHANGE-ME-strong-password"
vault_grafana_admin_password: "CHANGE-ME-strong-password"
